


.weather {
    background-color: #fff8;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather__title {
    font-size: 2.5rem;
}
.weather__city {
    font-size: 1.rem;
}

.weather__container1 {
    display: flex;
    width: 100%;

    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.weather__container1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather__fig {
    width: 300px;
    justify-content: center;

}
.weather__clouds {
    margin: 15px 0;
}
.weather__info {
    width: 200px;
}
.weather__info li {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.weather__info li span:last-child {
    font-weight: 900;
}
.weather__temp {
    margin: 10px 0;
    text-align: center;
}
.weather__btn {
    background-color: rgb(40, 10, 209);;
    color: white;
    padding: 5px 15px;
    border-radius: 7px;
    transition: ttransform .25s,
                box-shadow .25s;

}
.weather__btn:hover {
    transform: scale(1.1);
    box-shadow: -2px 2px 5px black;
    transition: ttransform .25s,
                box-shadow .25s;               
}
@media (width >= 850px) {
    .weather {
        width: 500px;
    }
    .weather__container1 {
        width: 100%;
        justify-content: space-evenly;
    }
}